<div class="bg-white rounded-lg p-4 h-full group">
  <ng-container *ngIf="isHorizontal; else verticalCard">
    <div class="grid grid-cols-2 gap-4 sm:flex sm:gap-6 items-start group">
      <div
        class="relative bg-gray-100 rounded-lg w-40 aspect-square flex items-center justify-center overflow-hidden group">
        @if (product.badge) {
        <span class="absolute top-3 left-3 text-xs px-3 py-1 rounded-sm z-20" [ngClass]="badgeClasses">
          {{ product.badge.text }}
        </span>
        }

        <span class="text-gray-200 text-3xl font-semibold z-0">1 : 1</span>

        <div
          class="hidden absolute inset-0 bg-gray-100 opacity-100 md:opacity-0 md:group-hover:opacity-100 transition-all duration-300 lg:flex flex-col justify-center gap-2 p-4">
          <div class="flex justify-center gap-4">
            <button (click)="addToWishlist(product)"
              class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
              <i class="bi bi-heart"></i>
            </button>

            <button (click)="viewProduct(product)"
              class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
              <i class="bi bi-eye"></i>
            </button>
          </div>

          @if (product.badge?.type !== 'soldout') {
          <button (click)="addToCart(product)"
            class="bg-[#54d417] hover:bg-green-500 text-white text-sm font-semibold py-1 rounded-sm transition">
            Add To Cart
          </button>
          }
        </div>
      </div>

      <div class="flex flex-col flex-1 pt-1">
        <p class="text-sm leading-snug group-hover:text-[#54d417]">
          {{ product.title }}
        </p>

        <span class="text-xl font-semibold mt-2">
          ${{ product.price }}
        </span>

        <p class="text-xs text-gray-400 mt-2">
          by <span class="text-blue-500">{{ product.vendor }}</span>
        </p>
      </div>

      <div class="flex lg:hidden flex-col justify-center gap-2 p-4">
        <div class="flex justify-center gap-4">
          <button (click)="addToWishlist(product)"
            class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
            <i class="bi bi-heart"></i>
          </button>

          <button (click)="viewProduct(product)"
            class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
            <i class="bi bi-eye"></i>
          </button>
        </div>

        @if (product.badge?.type !== 'soldout') {
        <button (click)="addToCart(product)"
          class="bg-[#54d417] hover:bg-green-500 text-white text-sm font-semibold py-1 rounded-sm transition">
          <i class="bi bi-cart-plus"></i>
        </button>
        }
      </div>
    </div>
  </ng-container>

  <ng-template #verticalCard>
    <div class="relative bg-gray-100 rounded-lg aspect-square flex items-center justify-center overflow-hidden group">
      @if (product.badge) {
      <span class="absolute top-3 left-3 text-xs px-3 py-1 rounded z-20" [ngClass]="badgeClasses">
        {{ product.badge.text }}
      </span>
      }

      <span class="text-gray-200 text-4xl font-semibold z-0">1 : 1</span>

      <div
        class="hidden absolute inset-0 bg-gray-100 opacity-100 md:opacity-0 md:group-hover:opacity-100 transition-all duration-300 lg:flex flex-col justify-center gap-2 p-4">
        <div class="flex justify-center gap-4">
          <button (click)="addToWishlist(product)"
            class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
            <i class="bi bi-heart"></i>
          </button>

          <button (click)="viewProduct(product)"
            class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
            <i class="bi bi-eye"></i>
          </button>
        </div>

        @if (product.badge?.type !== 'soldout') {
        <button (click)="addToCart(product)"
          class="bg-[#54d417] hover:bg-green-500 text-white text-sm font-semibold py-1 rounded-sm transition">
          Add To Cart
        </button>
        }
      </div>
    </div>

    <div class="mt-4 flex flex-col">
      <p class="text-sm leading-snug group-hover:text-[#54d417]">
        {{ product.title }}
      </p>

      <span class="text-xl font-semibold mt-2">
        ${{ product.price }}
      </span>

      <p class="text-xs text-gray-400 mt-2">
        by <span class="text-blue-500">{{ product.vendor }}</span>
      </p>
    </div>

    <div class="flex lg:hidden flex-col justify-center gap-2 p-4">
      <div class="flex justify-center gap-4">
        <button (click)="addToWishlist(product)"
          class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
          <i class="bi bi-heart"></i>
        </button>

        <button (click)="viewProduct(product)"
          class="bg-black text-[#54d417] rounded-sm w-8 h-8 flex items-center justify-center px-6">
          <i class="bi bi-eye"></i>
        </button>
      </div>

      @if (product.badge?.type !== 'soldout') {
      <button (click)="addToCart(product)"
        class="bg-[#54d417] hover:bg-green-500 text-white text-sm font-semibold py-1 rounded-sm transition">
        <i class="bi bi-cart-plus"></i>
      </button>
      }
    </div>
  </ng-template>
</div>